In [1]:
import pandas as pd

In [2]:
data = [[3, '2020-03-21 10:16:13'], [7, '2020-01-04 13:57:59'], [2, '2020-07-29 23:09:44'], [6, '2020-12-09 10:39:37']]
signups = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]'})
data = [[3, '2021-01-06 03:30:46', 'timeout'], [3, '2021-07-14 14:00:00', 'timeout'], [7, '2021-06-12 11:57:29', 'confirmed'], [7, '2021-06-13 12:58:28', 'confirmed'], [7, '2021-06-14 13:59:27', 'confirmed'], [2, '2021-01-22 00:00:00', 'confirmed'], [2, '2021-02-28 23:59:59', 'timeout']]
confirmations = pd.DataFrame(data, columns=['user_id', 'time_stamp', 'action']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]', 'action':'object'})

In [3]:
signups

   user_id          time_stamp
0        3 2020-03-21 10:16:13
1        7 2020-01-04 13:57:59
2        2 2020-07-29 23:09:44
3        6 2020-12-09 10:39:37

In [4]:
confirmations

   user_id          time_stamp     action
0        3 2021-01-06 03:30:46    timeout
1        3 2021-07-14 14:00:00    timeout
2        7 2021-06-12 11:57:29  confirmed
3        7 2021-06-13 12:58:28  confirmed
4        7 2021-06-14 13:59:27  confirmed
5        2 2021-01-22 00:00:00  confirmed
6        2 2021-02-28 23:59:59    timeout

In [5]:
df = (confirmations.merge(signups, left_on = 'user_id', right_on = 'user_id', how = 'right')
            .drop(columns = ['time_stamp_x', 'time_stamp_y'])
            .fillna('timeout'))

In [6]:
df

   user_id     action
0        3    timeout
1        3    timeout
2        7  confirmed
3        7  confirmed
4        7  confirmed
5        2  confirmed
6        2    timeout
7        6    timeout

In [7]:
df.groupby('user_id').apply(lambda x: round((x.action == 'confirmed').sum()/ x.action.count(), 2)).reset_index().rename(columns = {0: 'confirmation_rate'})

   user_id  confirmation_rate
0        2                0.5
1        3                0.0
2        6                0.0
3        7                1.0