In [1]:
import pandas as pd

In [2]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

In [3]:
person.head()

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [9]:
ans = person.groupby('email').agg('count').id.apply(lambda x: x > 1).reset_index()

In [13]:
ans[ans.id == True].drop(columns = 'id').rename(columns = {'email': 'Email'})

     Email
0  a@b.com